
.icon-gift:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-basket-alt:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-address:before { content: '\e805'; } /* '' */
.icon-gift-1:before { content: '\e806'; } /* '' */
.icon-gift-2:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-zoom-in:before { content: '\e80b'; } /* '' */
.icon-cancel-1:before { content: '\e80c'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e80d'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-calendar-1:before { content: '\f4c5'; } /* '' */