.main {
	display: none;
}

button {
	width: 200px;
	height: 50px;
	background: linear-gradient(to bottom, #2BFB83, #0A552A);
	display: block;
}

table {
	margin: 0 auto;
}

table, th, td {
	border:2px solid;
	border-collapse: collapse;
	caption-side: top;
}

th, td {
	width: 100px;
	height: 50px;
	padding: 0.3em;
	text-align: center;
}

th {
	font-size: 1.5em;
}

caption {
	margin-bottom: 0.6em;
	font-weight: bold;
	font-size: 2em;
}
