<div class="contacts-box">
    <h1 class="contacts-header">Contacts</h1>
    <div class="footer-contacts">
        <div class="footer-logo">
            <img src="img/other/logo-full-black.svg" alt="">
        </div>
        <p><i class="icon-location"></i>23697 Archery Range Road </p>
        <p>Bristol, VA 24202</p>
        <p><i class="icon-phone"></i><a href="skype:423-366-8009">423-366-8009</a></p>
        <p><i class="icon-mail-alt"></i><a href="mailto:burt@burtfoster.com">burt@burtfoster.com</a></p>
    </div>
</div>
