<div class="home-page">
    <img src="img/other/logo-full.svg" alt="" class=mobile-logo>
    <ul class="fade-slider">
        <div class="pat-grid"></div>
        <div class="timeline">
            <div class="deadline">
            </div>
        </div>
    </ul>
    <div class="btn-bottom">
    </div>
</div>
<div class="welcome">
    <div class="welcome-header">Welcome</div>
    <p>From the field to the kitchen to walking into harm's way, Burt Foster Handmade Knives excel. Each one of my knives is handmade by me - in my shop, from start to finish. I invite you to look around, watch my videos and browse my galleries. Whether you're a collector, a soldier, a chef or a sportsman, I am happy to offer you the best knife you've ever owned.</p>
</div>
<iframe src="https://www.youtube.com/embed/Km7LNv9cuio" frameborder="0" allowfullscreen></iframe>
<div class="featured-wrapper">
    <div class="featured">
        <h1>FEATURED</h1>
        <div class="featured-item-box">
        </div>
    </div>
</div>
