<!-- <div class="modal">
    <div class="fullscreen-overlay"></div>
    <div class="image-wrapper">
        <div class="image-preloader">
            <div>
                <i class="icon-spin5 animate-spin"></i>
            </div>
        </div>
        <div class="fullscreen-image">
        </div>
        <div class="btn-close">close</div>
        <div class="modal-qt"><span></span> of <span></span></div>
        <button class="modal-image-next">
            <i class="icon-right-open-1"></i>
        </button>
        <button class="modal-image-prev">
            <i class="icon-left-open-1"></i>
        </button>
    </div>
</div> -->
<div class="item-box">
    <div class="item-header">
        <div class="item-header-name"><span></span></div>
        <div class="item-header-control-wrapper">
            <div class="item-header-control">
                <div class="item-btn item-prev">
                    <i class="icon-left-open"></i>
                    <div class="controls-tooltip">Previous item
                        <br> in category</div>
                </div>
                <div class="item-btn item-next">
                    <i class="icon-right-open"></i>
                    <div class="controls-tooltip">Next item
                        <br> in category</div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-wrapper">
        <div class="item-gallery">
            <div class="item-zoom-image">
                <ul class="zoom-image-wrapper">
                    <li></li>
                </ul>
                <div class="item-image-controls">
                    <button class="btn-zoom-item-image btn-gallery">
                        <i class="icon-resize-full"></i>
                        <div class="social-tooltip">zoom</div>
                    </button>
                    <button class="btn-prev-item-image btn-gallery">
                        <i class="icon-left-open"></i>
                    </button>
                    <button class="btn-next-item-image btn-gallery">
                        <i class="icon-right-open"></i>
                    </button>
                </div>
            </div>
            <div class="image-roll-menu">
                <ul>
                </ul>
                <div class="roll-menu-prev btn-roll-menu"><i class="icon-left-open"></i></div>
                <div class="roll-menu-next btn-roll-menu"><i class="icon-right-open"></i></div>
            </div>
        </div>
        <div class="item-description">
            <div class="item-specification"></div>
            <div class="item-description-price"></div>
            <div class="cart-qt-controls">
                <button class="btn-addcart item-add">
                    <i class="icon-basket"></i> add to cart
                </button>
                <button class="qt-controls-minus">-</button>
                <input type="text" class="qt-controls-value" value="1" disabled>
                <button class="qt-controls-plus">+</button>
            </div>
            <div>Share on:</div>
            <div class="social">
                <a href="#">
                    <i class="icon-facebook-circled"></i>
                    <div class="social-tooltip">Share on Facebook</div>
                </a>
                <a href="#">
                    <i class="icon-twitter-circled"></i>
                    <div class="social-tooltip">Share on Twitter</div>
                </a>
                <a href="#">
                    <i class="icon-pinterest-circled"></i>
                    <div class="social-tooltip">Pin on Painterest</div>
                </a>
                <a href="#">
                    <i class="icon-instagram-circled"></i>
                    <div class="social-tooltip">Share on Instagram</div>
                </a>
                <a href="#">
                    <i class="icon-gplus-circled"></i>
                    <div class="social-tooltip">Share on Google+</div>
                </a>
                <a href="#">
                    <i class="icon-tumbler"></i>
                    <div class="social-tooltip">Share on Tumblr</div>
                </a>
            </div>
        </div>
    </div>
</div>
