<div class="nameCART">CART <br>
    <span>Your cart is empty</span>
</div>
<div class="cart-wrapper">
    <div class="shopCart-items-box">
        <div class="header-item-box">
            <div class="header-box head-product">PRODUCT</div>
            <div class="header-box head-price">PRICE</div>
            <div class="header-box head-qt">QUANTITY</div>
            <div class="header-box head-totalPrice">TOTAL</div>
        </div>
    </div>
    <div class="shopCart-total-box">
        TOTAL
        <div class="shopCart-totalPrice"></div>
        <button class="cart-item-buy item-add">Send an order</button>
    </div>
</div>
