.main {
	margin: 0 auto;
	width: 600px;
	height: 710px;
	position: relative;
}

.main>div:nth-child(2) {
	box-sizing: border-box;
	border: 10px solid black;
	width: 100%;
	height: 600px;
	background: url(../IMG/clock.png) 50% 50% no-repeat #f7f7f7;
	background-size: 100% 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	opacity: 0.9;
	transform:scale(0.9);
	box-shadow: 0px 0px 30px 0 black;

}

@font-face {
	font-family:Time;
	src:url(../fonts/LCD.ttf);
}


.main>div:nth-child(3), .main>div:nth-child(4)  {
	width: 350px;
	height: 100px;
	border: 2px solid #7ce61e;
	border-radius: 2%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-family: Time;
	color:#a0f81c;
	text-shadow: 0px 0px 20px #7ce61e;
	padding: 0 30px;
	box-shadow: 1px 1px 20px 0 gray;
}

.main>div:nth-child(3) {
	background: url(../IMG/pat.png) 50% 50% repeat; 

}


.main>div:nth-child(3)>div, .main>div:nth-child(4)>div {
	width: 80px;
	height: 80px;
	text-align: right;
	line-height: 80px;
	font-size: 5em;
	opacity: 1;
}

.main>div>div:nth-child(2), .main>div>div:nth-child(4) {
	width: 30px;
	text-align: center;
} 

.main>div:nth-child(4) {
	background: transparent;
	opacity: 0.05;
	position: absolute;
	top:600px;
	left:50%;
	transform: translateX(-50%);
}

.main>div:nth-child(4)>div {
	text-shadow: none;
}


.main>div:first-child {
	box-sizing: border-box;
	width: 410px;
	height: 100px;
	background: url(../IMG/shadow.png) 50% 50% no-repeat;
	background-size: 410px auto;	
	position: absolute;
	top:600px;
	left:50%;
	transform: translateX(-50%);
	opacity: 0.8;
}

.arrow {
	width: 8px;
	height: 220px;
	position: absolute;
	top: 80px;
	left: 50%;
	
}

.arrow:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	position: absolute;
	top: -50px;
	left: 0%;

}

.minutes {
	display: block;
	width: 30px;
	height: 250px;
	background: url(../IMG/minutes.png) 50% 100% no-repeat;
	background-size: 30px 250px;
	transform-origin: 50% 200px;
	transform: translate(-50%, 41px) rotate(5deg);
	top:50px;
	z-index: 8;
}

.hours {
	display: block;
	width: 30px;
	height: 200px;
	background: url(../IMG/hours.png) 50% 100% no-repeat;
	background-size: 30px 200px;
	transform-origin: 50% 150px;
	transform: translate(-50%, 41px) rotate(0deg);
	top:100px;
}

.seconds {
	display: block;
	width: 20px;
	height: 280px;
	background: url(../IMG/seconds.png) 50% 100% no-repeat;
	background-size: 20px 280px;
	transform-origin: 50% 230px;
	transform: translate(-50%, 41px) rotate(0deg);
	top:20px;
	z-index: 10;
}

.image {
	width: 320px;
	height: 90px;
	position: absolute;
	top:600px;
	left:50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 5px 15px;
	
}


.image>div{
	width: 20px;
	height: 20px;
	background: url(../IMG/alarm.png) 50% 50% no-repeat;
	background-size: contain;
}

.image>div:last-child{
	width: 15px;
	height: 15px;
	background: url(../IMG/net.png) 50% 50% no-repeat;
	background-size: contain;
	opacity: 0.15;
}


#date {
	width: 102px;
	height: 30px;
	margin-left: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
	font-family: Coda;
}

.day {
	box-sizing: border-box;
	width: 40px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 5%;
	background: linear-gradient(to top, lightgray, white, lightgray);
	text-align: center;
	line-height: 30px;

}

.month {
	box-sizing: border-box;
	width: 60px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 5%;
	background: linear-gradient(to top, lightgray, white, lightgray);
	text-align: center;
	line-height: 30px;
}