    .featured-wrapper {
        width: 100%;
        padding: 20px 40px;
    }
    
    .featured {
        border: 2px solid rgba(0, 0, 0, 0.15);
    }
    
    .mobile-logo {
        position: absolute;
        top: 80px;
        left: 10%;
        width: 80%;
        height: auto;
        z-index: 3;
        display: none;
        opacity: 0.6;
    }
    
    .featured h1 {
        padding: 0;
        margin: 0;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        font-size: 2em;
        display: inline-block;
        /*background: oldlace;*/
        z-index: 5;
        padding: 0 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .welcome {
        margin-top: 60px;
        padding: 0 40px;
    }
    
    .welcome p {
        padding: 10px 40px;
    }
    
    .featured-item-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;
    }
    
    .welcome-header {
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
    }
    
    .home-page {
        background: white;
    }
    
    @keyframes animTooltip {
        from {
            transform-origin: 90% -10%;
            transform: scale(0) translateY(-100%)
        }
        60% {
            transform: scale(1.15) translateY(-100%);
            transform-origin: 90% -10%;
        }
        to {
            transform: scale(1) translateY(-100%);
            transform-origin: 90% -10%;
        }
    }
    
    .featured-item {
        width: 270px;
        height: 270px;
        margin: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        /*overflow: hidden;*/
        /*background: white;*/
        position: relative;
        box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.2);
    }
    
    .featured-item-image-wrapper {
        width: 100%;
        height: 80%;
        position: relative;
        overflow: hidden;
        margin-bottom: 3px;
    }
    
    .featured-image {
        width: 100%;
        height: 100%;
        position: relative;
        background: gray url(../img/galleries/BambooKukri.png) 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .featured-item-name {
        font-size: 1.2em;
        font-weight: bold;
        margin: 5px 15px;
        color: rgba(0, 0, 0, 0.75);
    }
    
    .featured-item-price {
        color: green;
        margin: 0 15px;
    }
    
    .featured-image-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0);
        left: 0;
        top: 0;
        z-index: 1;
    }
    
    .btn {
        position: absolute;
        z-index: 2;
        background: rgba(250, 250, 250, 0);
        outline: none;
        color: white;
        font-family: 'Exo', sans-serif;
        opacity: 0;
        cursor: pointer;
    }
    
    .btn-details {
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 15px;
        /*background: rgba(250,250,250,0);
    color:rgba(250,250,250,1);*/
        letter-spacing: 1px;
        border: 1px solid white;
        /*text-transform: uppercase;*/
    }
    
    .btn-addcart {
        right: 5px;
        top: 5px;
        border: none;
        font-size: 1.7em;
    }
    
    .btn-addcart:active {
        color: black;
        transition: color 0.3s;
    }
    
    .featured-item-image-wrapper:hover .btn-details:hover:active {
        background: black;
        transition: background 0.3s
    }
    
    .featured-item-image-wrapper:hover .btn-details:hover {
        background: rgba(250, 250, 250, 1);
        color: rgba(0, 0, 0, 1);
        transition: background 0.4s, color 0.4s;
    }
    
    .featured-item:hover .featured-image {
        transform: scale(1.2);
        transition: transform 0.4s;
    }
    
    .featured-item:hover .btn-details {
        bottom: 10%;
        opacity: 1;
        transition: opacity 0.5s, bottom 0.5s;
    }
    
    .featured-item:hover .btn-addcart {
        opacity: 0.5;
        transition: opacity 0.5s;
    }
    
    .featured-item:hover .btn-addcart:hover {
        opacity: 1;
        transition: opacity 0.4s;
    }
    
    .featured-item:hover .featured-image-overlay {
        background: rgba(0, 0, 0, 0.55);
        transition: background 0.5s;
    }
    
    .pat-grid {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/other/pat-grid.png) 0% 0% repeat;
        background-size: 4px;
        z-index: 1;
        opacity: 0.6;
    }
    
    .timeline {
        width: 100%;
        height: 5px;
        position: relative;
        top: 0;
        left: 0;
        background: black;
        z-index: 1;
    }
    
    .timeline>div:last-child {
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /*background: linear-gradient(to right, black 5%, red);*/
        background: darkred;
    }
    
    .animated-timeline {
        animation-name: deadlineWidth;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes deadlineWidth {
        from {
            width: 0%
        }
        to {
            width: 100%
        }
    }
    
    @media screen and (min-width: 600px) and (max-width: 1100px) and (orientation:portrait) {
        .galleries-menu-wrapper {
            width: 330px;
        }
        .mobile-logo {
            display: block;
        }
        .galleries-item {
            width: 200px;
            height: 120px;
        }
        .welcome {
            padding: 0;
        }
        .welcome p {
            padding: 10px 15px;
            margin-top: 0;
        }
        iframe {
            width: 90%;
            margin-bottom: 20px;
        }
        .featured-wrapper {
            padding: 20px 10px;
        }
        .featured-item-box {
            padding: 0;
        }
        .featured-item {
            width: 90%;
            margin: 0;
            margin-bottom: 30px;
        }
        div.footer {
            flex-direction: row;
        }
        .quick-links {
            display: none;
        }
        .btn-details {
            font-size: 1.4em;
        }
        .btn-addcart {
            font-size: 3em;
        }
        .footer-contacts {
            margin-bottom: 20px;
        }
        .btn-toTop {
            width: 65px;
            height: 65px;
        }
        .description {
            right: 50%;
            transform: translateX(50%);
        }
        .description span.name {
            font-size: 3em;
        }
    }
    
    @media screen and (max-width: 599px) and (orientation:portrait) {
        .welcome {
            padding: 0;
        }
        .mobile-logo {
            display: block;
        }
        .welcome p {
            padding: 10px 15px;
            margin-top: 0;
        }
        iframe {
            width: 90%;
            margin-bottom: 20px;
        }
        .featured-wrapper {
            padding: 20px 10px;
        }
        .featured-item-box {
            padding: 0;
        }
        .featured-item {
            width: 90%;
            margin: 0;
            margin-bottom: 30px;
        }
        div.footer {
            flex-direction: row;
        }
        .quick-links {
            display: none;
        }
        .btn-details {
            font-size: 1.4em;
        }
        .btn-addcart {
            font-size: 3em;
        }
        .footer-contacts {
            margin-bottom: 20px;
        }
        .btn-toTop {
            width: 65px;
            height: 65px;
        }
        .subscribe {
            text-align: center;
        }
        .subscribe form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .subscribe form input {
            margin-bottom: 10px;
        }
        .subscribe form button {
            margin: 0;
        }
        .follow {
            text-align: center;
        }
        .social {
            transform: scale(1.3);
        }
        div.footer {
            flex-direction: column;
        }
        .description {
            right: 50%;
            transform: translateX(50%);
        }
    }
    
    @media screen and (max-width: 1000px) and (orientation:landscape) {
        .galleries-menu-wrapper {
            width: 330px;
        }
        .description {
            left: 50%;
            transform: translateX(-50%);
        }
        .welcome {
            padding: 0;
        }
        .welcome p {
            padding: 10px 15px;
            margin-top: 0;
        }
        iframe {
            width: 90%;
            margin-bottom: 20px;
        }
        .featured-wrapper {
            padding: 20px 10px;
        }
        .featured-item-box {
            padding: 0;
        }
        .featured-item {
            width: 90%;
            margin: 0;
            margin-bottom: 30px;
        }
        div.footer {
            flex-direction: row;
        }
        .quick-links {
            display: none;
        }
        .btn-details {
            font-size: 1.4em;
        }
        .btn-addcart {
            font-size: 3em;
        }
        .footer-contacts {
            margin-bottom: 20px;
        }
        .btn-toTop {
            width: 65px;
            height: 65px;
        }
        .subscribe {
            text-align: center;
        }
        .subscribe form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .subscribe form input {
            margin-bottom: 10px;
        }
        .subscribe form button {
            margin: 0;
        }
        .follow {
            text-align: center;
        }
        .social {
            transform: scale(1.3);
        }
        /*footer {
            flex-direction: column;
        }*/
    }
    
    @media screen and (max-width: 1100px) and (orientation:landscape) {
        .mobile-logo {
            display: block;
            width: 30%;
            left: 35%;
        }
    }
